<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Servlet</display-name>
	<servlet>
		<description>
		</description>
		<display-name>HelloServlet</display-name>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>servlet.HelloServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LifeServlet</display-name>
		<servlet-name>LifeServlet</servlet-name>
		<servlet-class>servlet.LifeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LifeServlet2</display-name>
		<servlet-name>LifeServlet2</servlet-name>
		<servlet-class>servlet.LifeServlet2</servlet-class>
	</servlet>
	<servlet>
		<display-name>LifeServlet3</display-name>
		<servlet-name>LifeServlet3</servlet-name>
		<servlet-class>servlet.LifeServlet3</servlet-class>
		<init-param>
			<param-name>hello</param-name>
			<param-value>helloworld</param-value>
		</init-param>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegisterServlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>HrefServlet</display-name>
		<servlet-name>HrefServlet</servlet-name>
		<servlet-class>servlet.HrefServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListServlet</display-name>
		<servlet-name>ListServlet</servlet-name>
		<servlet-class>servlet.ListServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletInstance</display-name>
		<servlet-name>ServletInstance</servlet-name>
		<servlet-class>servlet.ServletInstance</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RequestScopeServlet</display-name>
		<servlet-name>RequestScopeServlet</servlet-name>
		<servlet-class>servlet.RequestScopeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RequestScopeServlet2</display-name>
		<servlet-name>RequestScopeServlet2</servlet-name>
		<servlet-class>servlet.RequestScopeServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/HelloServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LifeServlet</servlet-name>
		<url-pattern>/LifeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LifeServlet2</servlet-name>
		<url-pattern>/LifeServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LifeServlet3</servlet-name>
		<url-pattern>/LifeServlet3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HrefServlet</servlet-name>
		<url-pattern>/HrefServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListServlet</servlet-name>
		<url-pattern>/ListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletInstance</servlet-name>
		<url-pattern>/ServletInstance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestScopeServlet</servlet-name>
		<url-pattern>/RequestScopeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestScopeServlet2</servlet-name>
		<url-pattern>/RequestScopeServlet2</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
</web-app>
