<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ajaxdemo</display-name>
	<servlet>
		<description>
		</description>
		<display-name>UserServlet</display-name>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>cn.wyzc.bbs.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AutoCompleteServlet</display-name>
		<servlet-name>AutoCompleteServlet</servlet-name>
		<servlet-class>cn.wyzc.bbs.servlet.AutoCompleteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StockServlet</display-name>
		<servlet-name>StockServlet</servlet-name>
		<servlet-class>cn.wyzc.bbs.servlet.StockServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SelectServlet</display-name>
		<servlet-name>SelectServlet</servlet-name>
		<servlet-class>cn.wyzc.bbs.servlet.SelectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AutoCompleteServlet</servlet-name>
		<url-pattern>/AutoCompleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StockServlet</servlet-name>
		<url-pattern>/StockServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectServlet</servlet-name>
		<url-pattern>/SelectServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>regist.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
