<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>servletlesson2</display-name>
	<servlet>
		<servlet-name>ServletContextTest</servlet-name>
		<servlet-class>servlet.ServletContextTest</servlet-class>
		<init-param>
		   <param-name>servlethello</param-name>
		   <param-value>servlethelloworld</param-value>
		</init-param>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletContextTest2</display-name>
		<servlet-name>ServletContextTest2</servlet-name>
		<servlet-class>servlet.ServletContextTest2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletContextCount</display-name>
		<servlet-name>ServletContextCount</servlet-name>
		<servlet-class>servlet.ServletContextCount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RequestScopeServlet</display-name>
		<servlet-name>RequestScopeServlet</servlet-name>
		<servlet-class>servlet.RequestScopeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RequestScopeServlet2</display-name>
		<servlet-name>RequestScopeServlet2</servlet-name>
		<servlet-class>servlet.RequestScopeServlet2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForwardServlet</display-name>
		<servlet-name>ForwardServlet</servlet-name>
		<servlet-class>servlet.ForwardServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginSuccessServlet</display-name>
		<servlet-name>LoginSuccessServlet</servlet-name>
		<servlet-class>servlet.LoginSuccessServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SessionServlet</display-name>
		<servlet-name>SessionServlet</servlet-name>
		<servlet-class>servlet.SessionServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListServlet</display-name>
		<servlet-name>ListServlet</servlet-name>
		<servlet-class>servlet.ListServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CookieWriterServlet</display-name>
		<servlet-name>CookieWriterServlet</servlet-name>
		<servlet-class>servlet.CookieWriterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CookieReaderServlet</display-name>
		<servlet-name>CookieReaderServlet</servlet-name>
		<servlet-class>servlet.CookieReaderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletContextTest</servlet-name>
		<url-pattern>/ServletContextTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletContextTest2</servlet-name>
		<url-pattern>/ServletContextTest2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletContextCount</servlet-name>
		<url-pattern>/ServletContextCount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestScopeServlet</servlet-name>
		<url-pattern>/RequestScopeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestScopeServlet2</servlet-name>
		<url-pattern>/RequestScopeServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForwardServlet</servlet-name>
		<url-pattern>/ForwardServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginSuccessServlet</servlet-name>
		<url-pattern>/LoginSuccessServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionServlet</servlet-name>
		<url-pattern>/SessionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListServlet</servlet-name>
		<url-pattern>/ListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CookieWriterServlet</servlet-name>
		<url-pattern>/CookieWriterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CookieReaderServlet</servlet-name>
		<url-pattern>/CookieReaderServlet</url-pattern>
	</servlet-mapping>
	<context-param>
	   <param-name>hello</param-name>
	   <param-value>servletContexthelloworld</param-value>
	</context-param>
	<listener>
	    <listener-class>servlet.ContextListener</listener-class>
	    
	</listener>
	<listener>
	   <listener-class>servlet.ContextAttributeListener</listener-class>
	</listener>
	<listener>
	 <listener-class>servlet.MySessionLisener</listener-class>
	</listener>
	<listener>
	   <listener-class>servlet.SessionAttributeListener</listener-class>
	</listener>
	<welcome-file-list>
	  <welcome-file>login.html</welcome-file>
	</welcome-file-list>

</web-app>
